header {
    background: url('https://turmadobem.org.br/wp-content/uploads/2022/08/banner-tdb-4.jpg')no-repeat center/cover;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

h1 {
    color: white;
    font-size: 3rem;
    padding: 5rem;
    text-align: center;
}

main {
    padding: 5rem;
    display: grid;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

aside {
    width: 50%;

    #contact-email {
        text-align: center;

        a {
            text-decoration: none;
            color: var(--secondary-color);
        }
    }
}

h2 {
    font-size: 2rem;
    font-weight: 300;
    color: var(--primary-color);
    padding-block: 2rem;
    text-align: center;
}

input {
    width: 100%;
    height: 4rem;
    border: 2px solid var(--secondary-color);
    border-radius: 1rem;
    padding: 1rem;
}

#wrap-contato {
    display: flex;
    flex-wrap: nowrap; 
    gap: 1rem;
    width: 100%;
}

#wrap-contato input {
    width: calc(50% - 00.5rem);
}

@media(max-width: 768px) {
    header {
        height: 35rem;
        justify-content: center;
    }

    h1 {
        font-size: 2rem;
        padding: 3rem 1rem;
    }

    main {
        padding: 2rem 1rem;
    }

    aside {
        width: 100%;
    }

    #wrap-contato input {
        width: 100%;
    }

    h2{
        font-size: 1.5rem;
        padding-block: 1rem;
    }

    #contact-email {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

@media (max-width: 600px) {
    header {
        height: 30rem;
    }

    header h1 {
        font-size: 1.8rem;
    }

    main {
        padding: 1rem;
    }

    h2 {
        font-size: 1.3rem;
    }
}