body {
    padding: 10px;
    font-size: 16px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}
nav ul {
    display: block;
}

@media (min-width: 600px) {
    nav ul {
        display: flex;
        justify-content: space-around;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
        margin: 0 auto;
    }
}

@media (min-width: 1300px) {
    .container {
        max-width: 1200px;
    }
    header {
        padding: 30px 0;
    }
}
