@import url(index.css);

header > #hero {
    display: flex;
    width: 100%;
    padding-block-end: 1rem;

    div{
        justify-content: center;

        width: 50%;
        height: 100vh;
    }

    #hero-text{
        font-size: 2rem;
        display: flex;
        align-items: center;

        span {
            color: var(--primary-color);
        }

        h1 {
            color: var(--secondary-color);
        }

        p {
            color: var(--earth-brown);
            font-size: 1.7rem;
        }

        div {
            height: fit-content;
        }
    }

    #hero-image{
        background: url('https://turmadobem.org.br/wp-content/uploads/2022/08/banner-tdb-1.jpg')no-repeat center/cover;
    }
}

main {
    padding: 10rem 5rem;
}

section {
    padding-block-end: 10rem;
    text-align: center;
    margin: auto;
    width: 70vw;

    h2{
        font-size: 2.75rem;
        padding: 1rem;
        color: #35441c;
    }

    p { 
        font-size: 1.2rem;
    }

    aside#aside-membros-tdb{
        margin: 5rem 1rem;
        display: flex;
        justify-content: center;

        div {
            width: 50%;
            height: 40rem;
        }

        #img-aside-membros {
            background: url(../images/img-03-mulher-sorrindo.jpg) center;
            background-size: cover;
            border-radius: 1rem;
        }

        #list-aside-membros {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3rem;

            ul {
                list-style: none;
                li {
                    font-size: 1.5rem;
                    text-align: justify;
                    margin-block-end: 3rem;

                    strong{
                        color: #556B2F;
                    }

                    img{
                        width: 30px;
                    }
                }
            }
        }
    }

    aside#programas {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-block: 5rem;

        gap: 3rem;
        div{
            width: 50%;
            height: 40rem;
            background-color: grey;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                text-decoration: none;
            }
        }

        div:hover{
            scale: 1.05;
        }

        #img-programa-apolonias{
            background: url(../images/img-08-mulher-sorrindo-fundo-laranja.png) center;
            background-size: cover;
        }

        #img-programa-dentistas-db{
            background: url(../images/img-11-dentista-sorrindo.png) center;
            background-size: cover;
        }

        span {
            color: white;
            font-size: 3rem;
            font-weight: bold;
        }
    }
}

