@import url(index.css);

header > #hero {
    display: flex;
    width: 100%;
    padding-block-end: 1rem;

    & div{
        justify-content: center;

        width: 50%;
        height: 100vh;
    }

    & #hero-text{
        font-size: 2rem;
        display: flex;
        align-items: center;

        p {
            color: var(--earth-brown);
            font-size: 1.7rem;
        }

        div {
            height: fit-content;
        }
    }

    #hero-image{
        background: url(../images/img-02-retrato-menino-sorrindo.jpg) center;
    }
}

main {
    padding: 10rem 5rem;
}

section {
    padding-block-end: 10rem;
    text-align: center;
    margin: auto;
    width: 70vw;

    h2{
        font-size: 2.75rem;
        padding: 1rem;
        color: #35441c;
    }

    p { 
        font-size: 1.2rem;
    }

    aside#aside-membros-tdb{
        margin: 5rem 1rem;
        display: flex;
        justify-content: center;

        div {
            width: 50%;
            height: 40rem;
        }

        #img-aside-membros {
            background: url(../images/img-03-mulher-sorrindo.jpg) center;
            background-size: cover;
            border-radius: 1rem;
        }

        #list-aside-membros {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3rem;

            ul {
                list-style: none;
                li {
                    font-size: 1.5rem;
                    text-align: justify;
                    margin-block-end: 3rem;

                    strong{
                        color: #556B2F;
                    }

                    img{
                        width: 30px;
                    }
                }
            }
        }
    }

    aside#programas {
        display: flex;
        align-items: center;
        justify-content: center;

        gap: 3rem;
        div{
            width: 50%;
            height: 40rem;
            background-color: grey;
        }

        #img-programa-apolonias{
            background: url(../images/img-07-mulher-sorrindo-fundo-laranja.jpg);
        }
    }
}

