@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--roboto)
}

:root{
    --primary-color: #FF8C00;
    --secondary-color: #BCC10E; 
    --soft-beige: #FFFBEA;      
    --earth-brown: #8B5A2B;    

    --roboto: "Roboto", sans-serif;
}

.btn-donate {
    background-color: var(--secondary-color);
    padding: 1rem 1.5rem;
    border-radius: 1.5rem;

    a {
        color: white;
    }
}

.btn-donate:hover{
        background-color: #9cb400;
}

.btn-tdb {
    background-color: var(--secondary-color);
    margin-top: 1rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bolder;
    border-radius: 1rem;

    color: white;
    text-decoration: none;
}

.btn-tdb:hover{
        background-color: #9cb400;
}


header {
    width: 100%; 
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5rem;
}

header > nav {
    display: flex;
    justify-content: space-between;
    padding: 0.85rem 3rem;
    width: 100%;

    background-color: white;

    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

    position: fixed;
    top: 0;
    z-index: 1000;
}

header > nav > img {
    width: 6rem;
}

header > nav > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 3rem;

    list-style: none;
    align-items: center;

    & li > a {
        font-weight: bold;
        font-size: 1.05rem;
        text-decoration: none;
        color: var(--earth-brown);
    }

    & li > a:hover{
        text-decoration: underline;
        color: #FF8C00;
    }
}

footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    padding: 1rem;
    width: 100%;
    height: auto;
    color: white;
    background-color: #BCC10E;

    nav ul{
        list-style: none;
        gap: 1rem;
        display: flex;
        justify-content: center;
    }

    p {
        margin-block: 1rem  ;
    }

    img {
        width: 30px;
    }

    #logo-tdb-footer {
        width: 100px;
        margin: 1rem;
    }
}

@media (max-width: 90px) {
    header > nav {
        padding: 0.85rem 1rem;
    }

    header > nav > img {
        width: 5rem;
    }

    header > nav > ul {
        gap: 1rem;
    }
}

@media (max-width: 768px) {
    header > nav {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 0.5rem;
    }

    header > nav > ul {
        width: 100%; 
        gap: 0.5rem;
        justify-content: space-between;
        margin-top: 0.5rem;
    }

    header > nav > ul li {
        margin: 0;
    }
    header > nav > ul .btn-donate {
        padding: 0.5rem 0.8rem;
        font-size: 0.8rem;
    }
    header > nav > ul li > a {
        font-size: 0.9rem;
    }
}
@media (max-width: 600px) {
    nav {
        padding: 0.5rem;
    }

    nav img {
        width: 100px;
    }

    nav ul {
        gap: 0.5rem;
    }

    nav ul a {
        font-size: 0.9rem;
    }

    footer {
        padding: 1rem;
    }
}
