@import url(home.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--roboto)
}

:root{
    --primary-color: #FF8C00;
    --secondary-color: #C5E400; 
    --soft-beige: #FFFBEA;      
    --earth-brown: #8B5A2B;    
    --color-accent: #FFD54F;

    --roboto: "Roboto", sans-serif;
}

.btn-donate {
    background-color: var(--secondary-color);
    padding: 1rem 1.5rem;
    border-radius: 1.5rem;

    a {
        color: white;
    }
}

.btn-tdb {
    background-color: var(--secondary-color);
    margin-top: 1rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bolder;
    border-radius: 1rem;

    color: white;
    text-decoration: none;

}


header {
    width: 100%; 
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

header > nav {
    display: flex;
    justify-content: space-between;
    padding: 0.85rem 3rem;
    width: 100%;

    background-color: white;

    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header > nav > img {
    width: 6rem;
}

header > nav > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 3rem;

    list-style: none;
    align-items: center;

    & li > a {
        font-weight: bold;
        font-size: 1.05rem;
        text-decoration: none;
        color: var(--earth-brown);
    }
}

footer {
    text-align: center;
    padding: 1rem;
    width: 100%;
    height: 6rem;
    color: white;
    background-color: var(--secondary-color);

    nav ul{
        list-style: none;
        gap: 1rem;
        display: flex;
        justify-content: center;
    }

    p {
        margin-block: 1rem  ;
    }

    img {
        width: 30px;
    }
}
