header {
    height: 45rem;
    background: url('https://turmadobem.org.br/wp-content/uploads/2025/08/voluntario-dentista-turma-do-bem-como-ser-voluntario-1.jpg')no-repeat center/cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    font-size: 3rem;
    color: white;
    padding: 5rem;
    text-align: center;
}

section {
    display: flex;
    padding: 6rem;
    justify-content: space-between;
}

.integrantes{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 40px;
    background-color: rgb(255,255, 254);
    padding: 2rem 1rem;
}

.integrante img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.integrante h3{
    margin-bottom: 5px;
    font-size: 1.1rem;
    color:#0f0f0f;
}

.integrante p{
    color:#0f0f0f;
    font-size:0.9rem;
}

.links{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

h2 {
    text-align: center;
    font-size: 2rem;
    padding-block: 4rem;
}


main h2 {
    display: block;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size:3rem;
    color: white;
    background: #BCC10e;
    width: 700px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 50px;
}

main p {
  text-align: center;
  color: #1f1d1d;
  margin-bottom: 10px;
  font-size: 1.5rem;
  padding: 0 1rem;
}

@media (max-width: 768px) {
    header {
        height: 30rem;
        justify-content: center;
    }

    h1 {
        font-size: 2rem;
        padding: 1rem;
    }

    main h2 {
        font-size: 2rem;
        width: 90%;
        margin-top: 2rem;
    }

    main p {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 1.5rem;
        padding-block: 2rem;
    }

    .integrante {
        padding: 2rem 0;
    }
    
    footer { 
    padding: 2rem 1rem;
    } 

    footer nav img { 
        width: 40px;
    } 

    footer nav ul { 
        gap: 1.5rem;
    } 
}
   
@media (max-width: 600px) {
    header {
        height: 25rem;
    }

    h1 {
        font-size: 1.8rem;
    }

    main h2 {
        font-size: 1.8rem;
    }

    footer nav img { 
        width: 35px; 
    } 
    footer p { 
        font-size: 0.9rem; 
    } 
    #logo-tdb-footer { 
        width: 90px;
    }
}
