@import url(index.css);

header {
    height: 45rem;
    background: url('https://turmadobem.org.br/wp-content/uploads/2022/08/banner-turma-do-bem-voluntario.jpg')no-repeat center/cover;
    display: flex;
    justify-content: baseline;
}

h1 {
    padding: 3rem;
    color: white;
    font-size: 5rem;
}

main {
    display: grid;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35rem;

}

aside {
    padding: 2rem;
    display: flex;
    width: 70%;
    height: 35rem;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
aside div {
    width: 50%;
}

aside div img {
    max-width: 100%;
    height: auto;
    display: block;
}


@media (max-width: 768px) {
    header {
        height: 30rem;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 2.5rem;
        padding: 1rem;
        text-align: center;
    }

    section {
        height: auto;
        padding: 2rem 0;
    }

    aside {
        flex-direction: column;
        width: 90%;
        height: auto;
        padding: 1rem;
        text-align: center;
    }

    aside div img {
        max-width: 250px;
        margin: 0 auto;
    }

    aside ul {
        text-align: left;
        padding-left: 1.5rem;
        list-style: disc;
    }

}
@media (max-width: 600px) {
    header {
        height: 25rem;
    }
    
    header h1 {
        font-size: 2rem;
    }

    section {
        padding: 1rem 0;
    }
}