@import url(index.css);

header {
    height: 45rem;
    background: url('https://turmadobem.org.br/wp-content/uploads/2022/08/banner-turma-do-bem-voluntario.jpg')no-repeat center/cover;

    display: flex;
    justify-content: baseline;
}

h1 {
    padding: 3rem;
    color: white;
    font-size: 5rem;
}

main {
    display: grid;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35rem;

}

aside {
    padding: 2rem;
    display: flex;
    width: 70%;
    height: 35rem;

    align-items: center;
    justify-content: center;

    gap: 2rem;

    div {
        width: 50%;
    }
}